{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">À propos</h2>
            <p class="mt-6 text-lg leading-8 text-gray-100">Avec 3 établissements en Suisse (Genève, Annemasse, Genève), Fiduciaire en Genevoise vous accompagne depuis 2017 dans vos projets.</p>
        </div>
    </div>
    <div class="relative bg-white">
        <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
            <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
                <div class="mx-auto max-w-2xl lg:max-w-lg">
                    <h3 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nos activités</h3>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Nous conseillons nos clients sur l’ensemble des leurs activités autour de trois pôles d’expertises complémentaires.</p>
                    <div class="mt-10 flex flex-col items-start space-y-6">
                        <a href="#" class="text-sm rounded-lg font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100  transition duration-200">Services fiduciaire <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                        <a href="#" class="text-sm rounded-lg font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100  transition duration-200">Audit et contrôles <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                        <a href="#" class="text-sm rounded-lg font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-gray-100 transition duration-200">Conseil entreprise <span aria-hidden="true" class="ml-2">&rarr;</span></a>
                    </div>
                </div>
            </div>
            <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2" src="{{ asset('media/site/fiduciaire-geneve-sa.webp') }}" alt="">
        </div>
    </div>
{% endblock %}
