{% extends 'base.html.twig' %}

{% block title %}Services fiduciaires{% endblock %}

{% block body %}
    <div class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Audits et contrôles</h2>
            <p class="mt-6 text-lg leading-8 text-gray-100">Dans un environnement en constante évolution, votre entreprise fait face à des enjeux protéiformes : gérer ses risques et renforcer ses contrôles. L’information comptable et financière joue un rôle déterminant pour fonder les décisions de la direction, des partenaires et des actionnaires. La certifier, c’est contribuer à renforcer la confiance.</p>
        </div>
    </div>
{% endblock %}
