{% extends 'base.html.twig' %}

{% block title %}Contrôle restreint{% endblock %}

{% block body %}
    <div class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Contrôle restreint</h2>
            <p class="mt-6 text-lg leading-8 text-gray-100">Le contrôle restreint est une mission d’examen limitée effectuée par un réviseur agréé (ASR), en Suisse. Cette mission consiste à effectuer une analyse limitée des comptes annuels d’une entreprise et à fournir une opinion sur la conformité des états financiers aux principes comptables suisses.</p>
        </div>
    </div>
{% endblock %}
