{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Services fiduciaires{% endblock %}
{% block description %}Services fiduciaires intégraux pour pilotage d'entreprise : administration, comptabilité, audit, TVA, fiscalité, RH et plus. Accélérez votre croissance avec nos experts.{% endblock %}


{% block body %}
    <section class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Services Fiduciaire</h2>
            <p class="mt-6 text-lg leading-8 text-gray-100">Nous vous apportons les solutions les plus adaptées au pilotage global de votre entreprise. Bénéficiez de notre réseau national et international pour votre croissance et vos questions.</p>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto py-12 lg:py-24 max-w-2xl lg:max-w-none">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2">
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Administration de sociétés
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Dans un environnement juridique en constante évolution, nos administrateurs vous accompagnent dans la gouvernance de votre entreprise. </p>
                            <p class="flex-auto">Nous adressons les problématiques juridiques ainsi que les communications avec les tiers-parties et les administrations.</p>
                            <p class="flex-auto">Nous vous accompagnons dans la croissance de votre activité avec la mise en place des outils de pilotage et de gestion financière.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Comptabilité
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Nos équipes traitent votre comptabilité générale afin d’établir des états financiers et répondre aux exigences réglementaires cantonales et fédérales des différentes administrations.</p>
                            <p class="flex-auto">Nous accompagnons également nos clients dans la mise en place des outils de mesure de la performance et la gestion de la comptabilité analytique.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Audit & Contrôles
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Le contrôle restreint est un audit financier limité et effectué par un réviseur en Suisse pour donner une opinion sur les comptes annuels d’une entreprise.</p>
                            <p class="flex-auto">Le contrôle contractuel ou Audit contractuel consiste en une mission confiée par une entreprise pour effectuer un examen mené par un professionnel.</p>
                            <p class="flex-auto">Nos auditeurs vous accompagnent pour réaliser vos objectifs.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Gestion TVA
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Vous êtes assujettis à la TVA dès que vous commencez votre activité entrepreneuriale, que vous reprenez un commerce ou que vous ouvrez une succursale si vous estimez que la limite du chiffre d’affaires de 100’000 francs sera atteinte dans l’année qui suit le démarrage.</p>
                            <p class="flex-auto">Nos équipes vous accompagne dans la gestion de la TVA, des décomptes et préparent les déclarations associées.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Fiscalité
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Nos collaborateurs vous accompagnent dans les transactions et les projets de votre entreprise dans le strict respect des règles fiscales en vigueur ainsi que sur pour les sujets de TVA, declarations, contrôles et audit.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            RH et gestion des salaires
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Nous vous aidons dans l’établissement des contrats de travail et des bulletins de salaire (conseil juridique, droit du travail).</p>
                            <p class="flex-auto">Notre équipe vous assiste dans la réalisation des démarches administratives relatives à l’affiliation aux caisses (AVS, LPP, Maladie, accident, impôt source…).</p>
                            <p class="flex-auto">Enfin, nous établissons l’ensemble des déclarations salariales et de l’impôt source.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Gestion des débiteurs
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Nos specialistes vous assistent dans le règlement rapide de vos créances ouvertes sans compromettre la relation avec vos clients.</p>
                            <p class="flex-auto">Nous agissons en votre nom afin d’optimiser le recouvrement de vos créances.</p>
                            <p class="flex-auto">Notre mission comprend des prestations pré-juridique, le suivi de la comptabilité débiteurs, l’envoi de rappels.</p>
                            <p class="flex-auto">Nous établissons également des réquisitions de poursuite, la main levée d’opposition et diverses procédures de continuation de la poursuite.</p>
                        </dd>
                    </div>
                    <div class="border border-solid border-gray-200 flex flex-col bg-gray-100 rounded-lg p-6 sm:m-2 shadow-lg">
                        <dt class="text-xl lg:text-2xl font-semibold leading-7 text-gray-900 font-main">
                            Gouvernance
                        </dt>
                        <dd class="mt-3 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="flex-auto">Une gouvernance d’entreprise saine et équilibrée peut parfois nécessiter de faire appel à un regard externe.</p>
                            <p class="flex-auto">Nous vous accompagnons dans la fourniture des outils nécessaires au bon pilotage de votre entreprise notamment :</p>
                            <p class="flex-auto">• Clôtures intermédiaires, consolidations pour obtenir une visibilité permanente de la marche de vos affaires et de votre état de fortune</p>
                            <p class="flex-auto">• Suivi proactif de vos débiteurs et créanciers</p>
                            <p class="flex-auto">• Suivi de la trésorerie (cash-flow) de l’entreprise sur la base d’un état des comptes à jour et des évènements à venir</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}
