{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Données Personnelles{% endblock %}
{% block description %}Protection et confidentialité de vos données chez Fiduciaire Genevoise: engagements stricts pour votre sécurité en Suisse et Europe.{% endblock %}

{% block body %}
    <section class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Données personnelles</h2>
        </div>
    </section>
    <section class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
        <div class="px-6 py-24 lg:px-8">
            <div class="mx-auto max-w-5xl text-base leading-7 text-gray-700">
                <div class="max-w-7xl">
                    <p class="text-lg">Chez <span class="font-semibold">FG Fiduciaire Genevoise SA</span>, nous apportons une attention particulière au respect de votre vie privée.</p>
                    <p class="mt-3 text-lg">Nous vous remercions d’utiliser nos services et notre site web. Nous prenons le respect de votre vie privée au sérieux.</p>
                    <p class="mt-3 text-lg">Cette charte de confidentialité concerne toute personne physique partageant ses données personnelles directement ou indirectement avec FG FIDUCIAIRE GENEVOISE SA en visitant notre site web.</p>
                    <p class="mt-3 text-lg">FG FIDUCIAIRE GENEVOISE SA est une société anonyme établie en Suisse et enregistrée au Rue des Alpes 5, 1201 Genève. En tant que tel, nous adhérons à la nLPD (nouvelle Loi sur la Protection des Données).</p>
                    <p class="mt-3 text-lg">Notre siège social est situé au Rue des Alpes 5, 1201 Genève.</p>
                    <p class="mt-3 text-lg">Vous pouvez nous faire part de vos questions en matière de protection des données à l’adresse suivante : <u>contact@fiduciaire-genevoise.ch</u></p>
                    <p class="mt-3 text-lg">Cette charte de confidentialité détaille les types de données personnelles qui sont susceptibles d’être traitées et dans leur finalité.</p>
                </div>
                <div class="mt-16 max-w-7xl">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900 uppercase">PERIMETRE DE LA CHARTE DE CONFIDENTIALITE</h2>
                    <p class="mt-3 text-lg">Veuillez noter que cette charte de confidentialité concerne le traitement des données personnelles dont FG FIDUCIAIRE GENEVOISE SA est le responsable de traitement.</p>
                    <p class="mt-3 text-lg">Cette Charte de confidentialité ne concerne aucun traitement de données personnelles que FG FIDUCIAIRE GENEVOISE SA peut effectuer en tant que sous-traitant découlant de votre utilisation de nos services.</p>
                    <p class="mt-3 text-lg">Pour obtenir plus d’informations sur la façon dont nos services peuvent être utilisés pour faciliter vos traitements de données personnelles, et sur les responsabilités et les engagements de FG FIDUCIAIRE GENEVOISE SA en relation avec ceux-ci, veuillez-vous référer aux conditions applicables.</p>
                </div>
                <div class=" mt-16 max-w-7xl">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900 uppercase">DONNEES PERSONNELLES TRAITEES</h2>
                    <p class="mt-3 text-lg">Les données personnelles désignent les données qui vous identifient en tant que personne physique. Nous pouvons être amenés à traiter les types de données personnelles suivants vous concernant :</p>
                    <p class="mt-3 text-lg">Vos coordonnées peuvent inclure votre nom, l’adresse courriel et le numéro de téléphone.</p>
                    <p class="mt-3 text-lg">Informations utilisateur, par exemple, si vous vous connectez à notre service ou visitez nos sites internet. Ces informations peuvent comprendre le numéro IP, le type de périphérique et le navigateur, fuseau horaire, situation géographique, ainsi que vos intérêts et préférences, des informations sur la façon dont vous interagissez avec nos services, par exemple sur les fonctionnalités utilisées et les boutons cliqués.</p>
                </div>
                <div class="mt-16 max-w-7xl">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900 uppercase">FINALITES DU TRAITEMENT DES DONNNEES</h2>
                    <p class="mt-3 text-lg">Nous pouvons être amener à traiter vos données personnelles pour les finalités suivantes :</p>
                    <p class="mt-3 text-lg">• Fournir nos services conformément aux conditions applicables;</p>
                    <p class="mt-3 text-lg">• Administrer la relation d’affaires avec vous et le client de FG FIDUCIAIRE GENEVOISE SA que vous représentez;</p>
                    <p class="mt-3 text-lg">• Développer et améliorer nos services;</p>
                    <p class="mt-3 text-lg">Afin de fournir des informations et des offres aux clients de FG FIDUCIAIRE GENEVOISE SA actuels ou potentiels sur notre solution par des parties tierces sélectionnées.</p>
                    <p class="mt-3 text-lg">Tout matériel de marketing distribué à l’aide de vos données personnelles vous est envoyé en tant que personne morale représentant un client actuel ou potentiel de FG FIDUCIAIRE GENEVOISE SA et non à vous en tant que personne privée.</p>
                </div>
                <div class="mt-16 max-w-7xl">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900 uppercase">PARTAGE AVEC DES TIERS ET TRANSFERT VERS LES PAYS TIERS</h2>
                    <p class="mt-3 text-lg">Google Analytics : Permet d’analyser le trafic sur le site web https://fiduciaire-genevoise.ch/ </p>
                    <p class="mt-3 text-lg">Google Tag Manager : Gestionnaire de balises qui permet aux responsables marketing d’ajouter facilement des balises (Analytics, de remarketing, etc.) sur leur site Web.</p>
                </div>
                <div class="mt-16 max-w-7xl">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900 uppercase">VOS DROITS</h2>
                    <p class="mt-3 text-lg">Nous avons pour obligation de traiter des éléments personnels précis, pertinents et nécessaires tout en tenant compte de nos finalités légitimes. Vous avez le droit de contrôler ce droit. </p>
                    <p class="mt-3 text-lg">Pour mettre à jour les données personnelles que nous traitons vous concernant, veuillez nous contacter sur <u>contact@fiduciare-genevoise.ch</u></p>
                    <p class="mt-3 text-lg">Pour recevoir gratuitement un extrait de données personnelles que nous traitons vous concernant, vous pouvez nous envoyer une lettre recommandée à l’adresse suivante: FG FIDUCIAIRE GENEVOISE, Rue des Alpes 5, 1201 Genève, Suisse.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
