{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Mentions légales{% endblock %}
{% block description %}Consultez les mentions légales de Fiduciaire Genevoise pour connaître nos conditions d'utilisation et nos directives de conformité légale en Suisse.{% endblock %}
{% block url %}{{ path('app_mentions_legales') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Mentions légales{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/mentions-legales{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Consultez les mentions légales de Fiduciaire Genevoise pour connaître nos conditions d'utilisation et nos directives de conformité légale en Suisse.{% endblock %}

{% block body %}
    <section class="bg-main px-6 py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Mentions légales</h1>
        </div>
    </section>
    <section class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
        <div class="px-6 py-24 lg:px-8">
            <div class="mx-auto max-w-5xl text-base leading-7 text-gray-700">
                <div class="max-w-7xl">
                    <p class="text-lg">Vous êtes actuellement connecté au site web <u>fiduciaire-genevoise.ch</u> propriété exclusive de FG Fiduciaire Genevoise SA. Ce site utilise Google Analytics.</p>
                    <p class="mt-3 text-lg">Dénomination sociale : <span class="font-semibold">FG Fiduciaire Genevoise SA</span>, au capital de 100 000 francs, immatriculée au registre du commerce du canton de Genève.</p>
                    <p class="mt-8 text-lg"><span class="font-semibold">Siège social</span> : Rue des Alpes 5, 1201 Genève, Suisse</p>
                    <p class="mt-3 text-lg"><span class="font-semibold">Téléphone</span> : 022 562 42 39</p>
                    <p class="mt-3 text-lg"><span class="font-semibold">Directeur de publication</span> : Hugo Schaller</p>
                    <p class="mt-3 text-lg"><span class="font-semibold">Hébergeur</span> : ce site est hébergé par GoDaddy <span class="font-light">(https://www.godaddy.com/)</span></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
