{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Connexion{% endblock %}
{% block description %}Connectez-vous à votre espace client.{% endblock %}
{% block url %}{{ path('app_connexion') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Connexion{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/connexion{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Connectez-vous à votre espace client.{% endblock %}

{% block body %}
    <section class="bg-second flex min-h-full flex-col justify-center px-6 py-24 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-6 w-auto" src="{{ asset('media/logo/logo-blanc.webp') }}" alt="Fiduciaire Genevoise Logo">
            <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Connexion à votre espace client</h1>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" action="#" method="POST">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-white">Adresse email</label>
                    <div class="mt-2">
                        <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-white">Mot de passe</label>
                        <div class="text-sm">
                            <a href="#" class="text-gray-400 hover:text-white transition duration-200">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-gray-100 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-gray-900 shadow-sm hover:bg-gray-100 transition duration-200">Connexion</button>
                </div>
            </form>
            <p class="mt-10 text-center text-sm text-gray-400 font-main">
                Pas encore client ?
                <a href="{{ path('app_contact') }}" class="font-semibold leading-6 text-gray-400 hover:text-white transition duration-200">Contactez-nous</a>.
            </p>
        </div>
    </section>
{% endblock %}
