@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3{
    font-family: Montserrat,sans-serif;
}

p{
    font-family: Barlow, sans-serif;
}

a, label{
    font-family: Montserrat,sans-serif;
}

dd{
    font-family: Montserrat,sans-serif;
}

dt{
    font-family: Barlow, sans-serif;
}

.font-main{
    font-family: Montserrat,sans-serif;
}

.font-second{
    font-family: Barlow, sans-serif;
}

.bg-login {
    background-image: linear-gradient(rgba(5, 23, 48, 0.85), rgba(5, 23, 48, 0.85)), url("https://images.unsplash.com/photo-1604280330315-418b4d7cc5d3?auto=format&fit=crop&q=80&w=2940&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
}