{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Audit et controles{% endblock %}
{% block description %}Audits et contrôles financiers pour entreprises : Nos audits restreints et contractuels en Suisse certifient vos comptes annuels et renforcent la confiance des parties prenantes.{% endblock %}
{% block url %}{{ path('app_audit_et_controles') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Audit et controles{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/audit-et-controles{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Audits et contrôles financiers pour entreprises : Nos audits restreints et contractuels en Suisse certifient vos comptes annuels et renforcent la confiance des parties prenantes.{% endblock %}

{% block body %}
    <section class="bg-no-repeat bg-cover bg-center" style="background-image: url('{{ asset('media/headers/header-fiduciaire-geneve-audit-controle.webp') }}')">
        <div class="px-6 py-24 lg:px-8 bg-main bg-opacity-80">
            <div class="mx-auto max-w-2xl text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Audits et contrôles</h1>
                <h2 class="mt-6 text-lg leading-8 text-gray-100">Gérez les risques et renforcez la confiance avec une information comptable fiable, soutenant vos décisions stratégiques.</h2>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-6xl px-6 lg:px-8">
            <div class="mx-auto py-12 lg:py-24 max-w-2xl lg:max-w-none">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2">
                    <div class="flex flex-col sm:m-2 border shadow-sm rounded-md border-gray-900/10 bg-gray-50 p-4">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                            </svg>
                            <h3>Contrôle restreint</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="text-justify">Le contrôle restreint, un audit financier ciblé réalisé en Suisse par un réviseur qualifié, évalue vos comptes annuels pour fournir une opinion experte.
                                Bien qu'extérieur à la clôture des comptes, cet audit est indispensable pour les entreprises optant volontairement pour cette vérification, garantissant conformité et transparence financière.</p>
                            <div class="mt-6">
                                <a href="{{ path('app_controle_restreint') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                            </div>
                        </dd>
                    </div>
                    <div class="flex flex-col sm:m-2 border shadow-sm rounded-md border-gray-900/10 bg-gray-50 p-4">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                            </svg>
                            <h3>Contrôle contractuel</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <p class="text-justify">L'audit contractuel est une mission spécialisée, réalisée par un expert sur demande d'une entreprise, pour examiner et analyser ses informations via des critères et méthodologies définis. Ce type de contrôle englobe l'audit financier,
                                ainsi que les audits social, juridique, et industriel, offrant une évaluation précise et adaptée aux besoins spécifiques de l'entreprise.</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    <section class="bg-white pt-6 pb-12 lg:pb-24">
        <div class="mx-auto max-w-6xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                <div class="max-w-lg justify-start">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">Excellence en audit et contrôle avec Fiduciaire Genevoise</h2>
                </div>
                <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-2">
                    <div class="space-y-2">
                        <p>Fiduciaire Genevoise se distingue dans le domaine des audits et contrôles en offrant des services
                            de commissariat aux comptes et d'expertise-comptable à Genève. Notre équipe d'experts-comptables et d'auditeurs,
                            forts de leur expérience en audit légal et comptable, s'engage à garantir la sincérité et la régularité des informations
                            financières de votre entreprise. Nous réalisons des missions d'audit approfondies, centrées sur le contrôle interne et la
                            certification des comptes, pour refléter une image fidèle de votre situation financière.</p>
                        <p>Notre cabinet d'audit est spécialisé dans l'audit d'acquisition, l'audit interne, et les consolidés, assurant ainsi la régularité
                            et la certification de vos états financiers. Grâce à nos procédures de contrôle rigoureuses et à notre capacité à émettre des certifications,
                            nous contribuons à renforcer la confiance entre les entreprises et leurs parties prenantes. </p>
                    </div>
                    <div class="space-y-2">
                        <p>Fiduciaire Genevoise, grâce à son expertise comptable et financière, vous accompagne dans la certification de vos
                            comptes et dans l'amélioration continue de vos processus internes pour un pilotage efficace et stratégique de votre entreprise.</p>
                        <p>Choisissez Fiduciaire Genevoise pour une approche d'audit sur mesure, répondant aux exigences spécifiques de votre entreprise et soutenant
                            votre développement grâce à des informations financières certifiées et fiables. Nos auditeurs et commissaires aux comptes travaillent en étroite
                            collaboration avec votre comité d'audit pour assurer une évaluation complète et précise, vous aidant ainsi à naviguer avec confiance dans
                            le paysage économique complexe.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
