{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Audit et controles{% endblock %}
{% block description %}Audits et contrôles financiers pour entreprises : Nos audits restreints et contractuels en Suisse certifient vos comptes annuels et renforcent la confiance des parties prenantes.{% endblock %}
{% block url %}{{ path('app_audit_et_controles') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - Audit et controles{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/audit-et-controles{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Audits et contrôles financiers pour entreprises : Nos audits restreints et contractuels en Suisse certifient vos comptes annuels et renforcent la confiance des parties prenantes.{% endblock %}

{% block body %}
    <section class="bg-no-repeat bg-cover bg-center" style="background-image: url('{{ asset('media/headers/header-fiduciaire-geneve-suisse-comptabilite.webp') }}')">
        <div class="px-6 py-24 lg:px-8 bg-main bg-opacity-80">
            <div class="mx-auto max-w-2xl text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">Audits et contrôles</h1>
                <h2 class="mt-6 text-lg leading-8 text-gray-100">Gérez les risques et renforcez la confiance avec une information comptable fiable, soutenant vos décisions stratégiques.</h2>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-6xl px-6 lg:px-8">
            <div class="mx-auto py-12 lg:py-24 max-w-2xl lg:max-w-none">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2">
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Contrôle restreint</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Révision des états financiers basé sur la NCR</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Vérification de la conformité des comptes</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Revue partielle du système de contrôle interne</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Audit limité des comptes de la société</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Évaluation restreinte des risques financiers</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                            <div class="mt-6">
                                <a href="{{ path('app_controle_restreint') }}" class="text-sm font-semibold leading-6 text-main hover:text-second transition duration-200">En savoir plus <span aria-hidden="true">→</span></a>
                            </div>
                        </dd>
                    </div>
                    <div class="flex flex-col sm:m-2 shadow-lg rounded-md bg-gray-50 p-6 hover:shadow-xl transition duration-100">
                        <dt class="font-main flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-custom">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Contrôle contractuel</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                            <ul role="list" class="mt-4 space-y-4 font-second">
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Vérification de la conformité des contrats</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contrôle des clauses contractuelles</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Analyse du besoin en fonds de roulement (BF)</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Validation des conditions de paiement</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Évaluation des risques liés aux contrats</span>
                                </li>
                                <li class="flex gap-x-3 text-base">
                                    <svg class="mt-0.5 h-5 w-5 flex-none text-base text-green-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Contactez-nous pour avoir le détail complet</span>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}
