{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}FAQ{% endblock %}
{% block description %}Découvrez les réponses aux questions fréquemment posées sur les services de notre fiduciaire à Genève. Solutions personnalisées en comptabilité, fiscalité et gestion d'entreprise.{% endblock %}
{% block url %}{{ path('app_faq') }}{% endblock %}

{% block ogTitle %}Fiduciaire Genevoise - FAQ{% endblock %}
{% block ogUrl %}https://fiduciaire-genevoise.ch/faq{% endblock %}
{% block ogImage %}{{ asset('media/site/fiduciaire-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Fiduciaire Genevoise{% endblock %}
{% block ogDescription %}Découvrez les réponses aux questions fréquemment posées sur les services de notre fiduciaire à Genève. Solutions personnalisées en comptabilité, fiscalité et gestion d'entreprise.{% endblock %}

{% block body %}
    <section class="bg-no-repeat bg-cover bg-center" style="background-image: url('{{ asset('media/headers/header-fiduciaire-geneve.webp') }}')">
        <div class="px-6 py-24 lg:px-8 bg-main bg-opacity-80">
            <div class="mx-auto max-w-2xl text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">FAQ</h1>
                <p class="mt-6 text-lg leading-8 text-gray-100">Découvrez les réponses aux questions fréquemment posées sur les services de notre fiduciaire à Genève.</p>
            </div>
        </div>
    </section>
    <section class="relative bg-white">
        <div class="mx-auto grid max-w-5xl">
            <div class="bg-white">
                <div class="mx-auto max-w-7xl divide-y divide-gray-900/10 px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
                    <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Questions/Réponses</h2>
                    <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Qu'est-ce qu'une fiduciaire ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Une fiduciaire est une <strong>entreprise spécialisée dans la gestion financière et administrative</strong>,
                                    offrant une expertise comptable pour accompagner le développement de ses clients.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Quels services propose Fiduciaire Genevoise ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Chez Fiduciaire Genevoise, nous proposons des <strong>services d'administration de sociétés,
                                    de comptabilité générale et analytique, de gestion de la TVA, de déclarations fiscales pour les
                                        entreprises</strong>, de gestion des salaires et des ressources humaines,
                                    de gestion des débiteurs, d'audit et de révision des comptes, ainsi que du conseil en gouvernance.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Pourquoi engager une fiduciaire pour votre entreprise en Suisse ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Les avantages d&#39;engager une fiduciaire pour votre entreprise en Suisse, sont : l&#39;<strong>expertise comptable, la gestion financière et la conformité fiscale</strong>.
                                    Cela vous permet de vous concentrer sur votre cœur de métier tout en garantissant la conformité légale, administrative et
                                    fiscale de vos opérations.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Comment fonctionne une collaboration avec une fiduciaire en Suisse ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    <strong>Nous offrons une consultation initiale pour comprendre vos besoins spécifiques et la structure de vos activités</strong>. Nous structurons
                                    notre approche pour mettre en œuvre les services administratifs, comptables, financiers à vous fournir.
                                    Nous mettons en place un suivi régulier de votre activité avec nos équipes qui sont disponibles pour toute question de 09h à
                                    20h, 6 jours sur 7.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Quels sont les avantages d’une fiduciaire pour gérer la fiscalité des entreprises en Suisse ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    La Suisse offre un cadre fiscal et politique stable avec des taux d&#39;imposition compétitifs face au reste des pays européens. Il
                                    existe des déductions pour les investissements en recherche et développement et des exonérations pour certaines activités.
                                    Nous vous aidons à naviguer dans ce système pour mieux <strong>optimiser la charge fiscale de votre activité, y compris pour des
                                        structures ayant une forte activité internationale</strong>.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Comment une fiduciaire en Suisse protège-t-elle la confidentialité de vos données ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Nous avons à cœur de conserver la confidentialité des informations de nos clients. <strong>Nous respectons les normes de protection
                                        des données en vigueur. Seul un personnel autorisé a accès à vos informations</strong>.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Quels sont les tarifs des services d&#39;une fiduciaire en Suisse ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Nos tarifs s’adaptent à chaque situation et sont fonction des services demandés. <strong>Nous vous adressons toujours un devis
                                    spécifique après une première consultation gratuite avec l’un de nos associés</strong>.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Comment prendre rendez-vous avec une fiduciaire en Suisse ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Vous pouvez prendre rendez-vous en nous contactant par téléphone (022 562 42 39), par email (contact@fiduciaire-
                                    genevoise.ch) ou en remplissant le <a href="{{ path('app_contact') }}" class="hover:text-red-custom transition duration-200 font-semibold font-second">formulaire de contact</a> sur notre site web. Nous serons ravis de convenir d&#39;un rendez-vous à
                                    votre convenance.
                                </p>
                            </dd>
                        </div>
                        <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                            <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5 gap-x-2 flex align-bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-auto text-red-custom mt-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                                <p class="font-main">
                                    Quels sont les délais pour les services de fiduciaire en Suisse ?
                                </p>
                            </dt>
                            <dd class="mt-4 lg:col-span-7 lg:mt-0">
                                <p class="text-base leading-7 text-gray-600">
                                    Les délais varient en fonction des services et de la complexité des missions. <strong>Nous nous engageons à respecter des délais
                                        raisonnables</strong> et à vous informer de tout retard éventuel.
                                </p>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
