<section class="bg-gray-50">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Vous souhaitez bénéficier de notre expertise et de nos services ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">Nous sommes à votre écoute pour répondre à vos questions et vous accompagner dans l'intégration de nos solutions adaptées à vos activités.</p>
            <div class="mt-10 flex items-center justify-center gap-x-4">
                <a href="{{ path('app_devenir_client') }}" class="text-sm rounded-full font-semibold px-5 py-4 text-gray-900 border-solid border border-main hover:bg-main hover:text-white transition duration-200">Devenir client</a>
                <a href="{{ path('app_contact') }}" class="text-sm rounded-full font-semibold bg-main px-5 py-4 text-white border-solid border border-main hover:bg-transparent hover:text-main transition duration-200">Nous contacter <span aria-hidden="true" class="ml-1">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>