<section class="bg-gray-50">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Vous souhaitez rejoindre le groupe Fiduciaire Genevoise ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">Que vous possédiez déjà une fiduciaire ou non, nous serons ravie d'échanger avec vous sur vos objectifs.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="#" class="text-sm rounded-lg font-semibold bg-main px-3.5 py-2.5 text-white border-solid border border-main hover:bg-second hover:border-second transition duration-200">Nos expertises</a>
                <a href="#" class="text-sm rounded-lg font-semibold px-3.5 py-2.5 text-gray-900 border-solid border border-main hover:bg-white transition duration-200">Nous contacter</a>
            </div>
        </div>
    </div>
</section>